<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
</head>
<body class="min-vh-100 position-relative">
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/products">Products</a>
                  <a class="nav-link" href="/categories">categories</a>
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <main layout:fragment="content" class="container h-75 py-3">

    </main>

    <!-- <footer class="bg-dark text-light py-4 mt-5 position-absolute bottom-0 start-0 end-0">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-3">
              <h5>PropertiConnect</h5>
              <p>Sistem Informasi Jual Beli Properti Modern Didesain untuk memudahkan pengguna dan agen properti dalam mengelola data.</p>
            </div>
            <div class="col-md-3 mb-3">
              <h6>Navigasi</h6>
              <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none text-light">Beranda</a></li>
                <li><a href="#" class="text-decoration-none text-light">Properti</a></li>
                <li><a href="#" class="text-decoration-none text-light">Agen</a></li>
                <li><a href="#" class="text-decoration-none text-light">Kontak</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-3">
              <h6>Kontak Kami</h6>
              <p class="mb-1"><i class="bi bi-envelope"></i> info@properticonnect.com</p>
              <p class="mb-1"><i class="bi bi-phone"></i> +62 812-3456-7890</p>
              <div>
                <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div>
          <hr class="border-secondary" />
          <div class="text-center">
            <small>© 2025 PropertiConnect. All rights reserved.</small>
          </div>
        </div>
      </footer> -->
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>
</body>
</html>