<html lang="en" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
</head>
<body>

    <main layout:fragment="content">

        <div class="container mt-5">
            <h2>Detail Order</h2>

            <!-- Card Order -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order ID : <strong>ORD-PRD- <span th:text="${order.id}"></span></strong></h5>
                    <p class="card-text fs-5">
                        <strong>Amount : </strong><span th:text="'Rp ' + ${#numbers.formatDecimal(order.amount, 0, 'COMMA', 0, 'POINT')}"></span><br>
                        <span th:text="${order.status}"
                            class="badge mt-3 mb-3"
                            th:classappend="${order.status.name == 'PENDING' ? ' bg-warning text-dark' : 
                                            order.status.name == 'PROCESSED' ? ' bg-primary' : 
                                            order.status.name == 'COMPLETED' ? ' bg-success' : 
                                            order.status.name == 'CANCELED' ? ' bg-danger' : ''}">
                        </span><br>
                        <strong>Date :</strong> <span th:text="${#temporals.format(order.created_at, 'dd MMM yyyy HH:mm')}">01 Jan 2024</span><br>
                        <strong class="text-danger">Discount : </strong><span th:text="${#numbers.formatDecimal(order.discount, 0, 'COMMA', 0, 'POINT')}" class="text-danger"></span>
                    </p>

                    <a th:href="@{/order-history}" class="btn btn-outline-primary btn-sm">Kembali ke Riwayat</a>
                </div>
            </div>

            <!-- Tabel Order Items -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>No</th>
                            <th>Nama Produk</th>
                            <th>Harga</th>
                            <th>Qty</th>
                            <th>Subtotal</th>
                            <th>Rating & Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item, iterStat : ${orderItems}">
                            <td th:text="${iterStat.count}">1</td>
                            <td>
                                <img width="50" src="" th:src="${item.orderItem.product.imageUrl}" class="img-fluid" th:alt="${item.orderItem.product.name}">
                                <span th:text="${item.orderItem.product.name}"></span>
                            </td>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(item.orderItem.product.price, 0, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${item.orderItem.quantity}">2</td>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(item.orderItem.product.price * item.orderItem.quantity, 0, 'COMMA', 0, 'POINT')}"></td>
                            <td class="text-center">
                                <form action="/reviews" method="post" th:if="${item.orderItem.order.status.name == 'COMPLETED' && item.isReviewed == false}">
                                    <div>
                                        <div class="star-rating animated-stars">
                                            <input type="radio" id="star5" name="rating" value="5">
                                            <label for="star5" class="bi bi-star-fill"></label>
                                            <input type="radio" id="star4" name="rating" value="4">
                                            <label for="star4" class="bi bi-star-fill"></label>
                                            <input type="radio" id="star3" name="rating" value="3">
                                            <label for="star3" class="bi bi-star-fill"></label>
                                            <input type="radio" id="star2" name="rating" value="2">
                                            <label for="star2" class="bi bi-star-fill"></label>
                                            <input type="radio" id="star1" name="rating" value="1">
                                            <label for="star1" class="bi bi-star-fill"></label>
                                        </div>
                                        <div>
                                            <input type="hidden" name="product" th:value="${item.orderItem.product.id}">
                                            <input type="hidden" name="orderItem" th:value="${item.orderItem.id}">

                                            <textarea name="content" id="" placeholder="Masukkan Review" cols="30" rows="2">
                                            </textarea>
                                             <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- <div th:if="${item.isReviewed != false}"><span class="badge bg-success">Reviewed</span></div> -->
                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-end fw-bold text-danger">Discount:</td>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(order.discount, 0, 'COMMA', 0, 'POINT')}" class="text-danger"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-end fw-bold">Total:</td>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(order.amount, 0, 'COMMA', 0, 'POINT')}"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>


    
</body>
</html>