<html lang="en" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Products</h1>

    <div class="mt-5">
        <a href="/admin/products/create" class="btn btn-primary">New Product</a>
    </div>

    <form action="" class="mt-5" method="get">
        <div class="row">
            <div class="col-lg-3">
                <input th:value="${name}" type="text" name="name" class="form-control" placeholder="Search By Name">
            </div>
            <div class="col-lg-3">
                <input  th:value="${sku}" type="text" name="sku" class="form-control" placeholder="Search By SKU">
            </div>

            <div class="col-lg-3">
                    <select name="sort" id="" class="form-select">
                        <option value="" selected>Sort By</option>
                        <option value="price,desc" th:selected="${sort == 'price,desc' ? true : false}">Harga Tertinggi</option>
                        <option value="price,asc" th:selected="${sort == 'price,asc' ? true : false}">Harga Terendah</option>
                        <option value="created_at,desc" th:selected="${sort == 'created_at,desc' ? true : false}">Terbaru</option>
                        <option value="created_at,asc" th:selected="${sort == 'created_at,asc' ? true : false}">Terlama</option>
                        <option value="quantity,desc" th:selected="${sort == 'quantity,desc' ? true : false}">Stock Terbanyak</option>
                        <option value="quantity,asc" th:selected="${sort == 'quantity,asc' ? true : false}">Stock Terkecil</option>
                    </select>
            </div>
            <div class="col-lg-3">
                <button type="submit" class="btn btn-outline-primary w-100">Search</button>
            </div>
        </div>
    </form>
    <!-- <div th:if="${message}" class="alert alert-success" th:text="${message}"></div> -->

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Created At (Date)</th>
                <th>Updated At (Date)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product, stat : ${products.content}">
                <td th:text="${stat.count}"></td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <img width="50" src="" th:src="${product.imageUrl}" class="img-fluid" th:alt="${product.name}">
                        <span th:text="${product.name}"></span>
                    </div>
                    
                </td>
                <td th:text="${product.sku}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.discount}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${#dates.format(product.created_at, 'EEEE, dd MMMM yyyy HH:mm:ss')}"></td>
                <td th:text="${#dates.format(product.updated_at, 'EEEE, dd MMMM yyyy HH:mm:ss')}"></td>

                <td class="d-flex gap-2 justify-content-center">
                    <a class="btn btn-warning container " th:href="@{/admin/products/edit/{id}(id=${product.id})}">Edit</a>
                    <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post" class="container">
                        <button class="btn btn-danger" type="submit" onClick="return confirm('Are you sure you want to delete this product?')">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="..." class="mt-5" th:if="${metadata['totalPages'] != 0}">
        <ul class="pagination justify-content-center" >
            <li class="page-item">
                <a th:href="@{/admin/products(name=${name}, sku=${sku}, sort=${sort}, page=${metadata.number - 1})}"
                    class="page-link"
                    th:classappend="${metadata['number'] == 0 ? 'disabled' : ''}"
                >Previous</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(0, metadata.totalPages - 1)}">
                <a class="page-link"
                    th:classappend="${metadata['number'] == page ? 'active' : ''}"
                    th:href="@{/admin/products(name=${name}, sku=${sku}, sort=${sort}, page=${page})}"
                    th:text="${page + 1}"></a>
            </li>
            <!-- th:href="${'?name=' + name + '&sku=' + sku + '&sort=' + sort + '&page=' + page}" -->
            <li class="page-item">
                <a class="page-link"
                    th:classappend="${metadata['number'] == metadata['totalPages'] - 1 ? 'disabled' : ''}"
                    th:href="@{/admin/products(name=${name}, sku=${sku}, sort=${sort}, page=${metadata.number + 1})}"
                >Next</a>
            </li>
        </ul>
      </nav>
</main>
</body>
</html>